* {
    max-width: 1440px;
    margin: auto;
}

html {
    background: #E5E5E5;;
}

body {
    box-sizing: border-box;
    max-width: 1440px;
    
}

#header {
    width: 1440px;
    height: 100px;
    background: white;
}

h4 {
    margin: 0;
    display: flex;
    width: 10.8125em;
    height: 1.5em;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5em;
    color: #000000;
    padding-top: 2.375em;
    padding-bottom: 2.375em;
    padding-left: 8.625em;  
}

#wrapper {
    background: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.first__screen {
    box-sizing: border-box;
}

h2 {
    margin: 0;
    width: 9.79em;
    height: 1.3em;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 133%;
    letter-spacing: 0.05em;
    color: #000000;
    padding-bottom: 1.5em;
}

.photo {
    width: 73.125em;
    height: 31.25em;
}

.description__section {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.overview {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 7.5em;
    width: 38.5625em;
    height: 21.5625em;
    margin: 0;
}

h3 {
    width: 16.8em;
    height: 1.4em;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000000;
    margin: 0;
    padding-top: 3.4em;
    padding-bottom: 1.8em;
}

p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 168%;
    letter-spacing: 0.005em;
    color: #565656;
}

.first__section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
}

.first__description {
    padding-top: 1.05em;
    width: 72.6em;
    margin: 0;
    letter-spacing: 0.05em;
}

.section__title {
    margin: 0;
    margin-top: 3.4em;
    padding-bottom: 1.8em;
    
}

.second__section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    box-sizing: border-box;
}

#second__description {
    padding-top: 1.05em;
    width: 72.6em;
    margin: 0;
    letter-spacing: 0.05em;
}

.third__section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    box-sizing: border-box;
}

.third__description {
    padding-top: 1.05em;
    width: 72.6em;
    margin: 0;
    letter-spacing: 0.05em;
    padding-bottom: 4.7em;
}

#footer {
    background: #F4F4F4;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.footer__info {
    width: 73.125em;
    height: 18.75em;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-content: center;
}

.CTA {
    display: flex;
    flex-direction: column;
    width: 23.7em;
    padding-top: 1.5em;
    padding-right: 50%;
    align-items: flex-start;
    margin: 0;
    
}

.CTA__name {
    font-family: 'Red Hat Display', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 133%;
letter-spacing: 0.05em;
color: #000000;
margin: 0;

}

.contacts {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 166%;
letter-spacing: 0.1em;
color: #000000;
text-decoration: none;
}

.number, .mail {
    text-decoration: none;
    color: #000000;
}

.number {
    margin: 0;
}

.socials {
    display: flex;
    flex-direction: row;
}

.right {
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 166%;
letter-spacing: 0.1em;
color: #000000;
}

